<!-- // Individual Movie page with movie info and reviews underneath
    // Needs some spacing adjustments!! -->
<section id='individualMovie'>
  <div class='justify-content-center'>
    <div class='card col-10 m-5'>
      <div class='card-body row'>
        <div class='col-5 d-flex align-items-center justify-content-center'>
          <img
            src='https://m.media-amazon.com/images/I/51sBtK24saL._SX300_SY300_QL70_FMwebp_.jpg'
            class='img-fluid rounded-start'
            alt='Titantic Poster'
          />
        </div>
        <div class='col-5 ml-0'>
          <h3>ADD IN MOVIE TITLE HERE</h3>
          <p>Add in movie summary from the API</p>
          <p>Add in some cast info???</p>
          <a href='ADD IN LINK'><p>ADD IN LINKS TO WATCH HERE</p></a>
        </div>
        <div class='col-1 d-flex align-items-center'>
          <button class='btn btn-secondary' href='/newreview'>
            Add Review
          </button>

          <button class='btn btn-secondary addButton'>+</button>
        </div>
      </div>
    </div>
    <div class='d-flex justify-content-center'>
      <div class='card col-9'>
        <div class='card-header d-flex justify-content-between pt-3'>
          <p>USER'S NAME</p>
          <p>RATING⭐⭐⭐</p>
        </div>
        <div class='card-body'>
          INSERT REVIEW CONTENT This content is a little bit longer. THIS WILL
          CONTAIN REVIEW CONTENT HERE. for anything that a user would write in a
          review
        </div>
      </div>
    </div>
  </div>
</section>

<script></script>