// My Movies Page
<section>
  <div>
    <div class='card text-center col-11'>
      <div class='card-header'>
        <ul class='nav nav-tabs card-header-tabs'>
          <li class='nav-item'>
            <a
              class='nav-link active'
              aria-current='true'
              href='/users/movies'
            >My Movies</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/users/reviews'>My Reviews</a>
          </li>
        </ul>
      </div>
      <div class='card-body'>
        <h5 class='card-title'>All Added Movies Here!</h5>
        <p class='card-text'>
          With supporting text below as a natural lead-in to additional content.
        </p>
        <!-- FOR EACH MOVIE IN USERS LIST -->
        <div class='card text-center mb-3' style='width: 18rem'>
          <div class='card-body'>
            <h5 class='card-title'>TitanicMOVIE TITLE</h5>
            <img
              src='https://m.media-amazon.com/images/I/51sBtK24saL._SX300_SY300_QL70_FMwebp_.jpg'
              class='img-fluid rounded-start'
              alt='Titantic Poster'
            />
            <a href='/newReview' class='btn btn-primary mt-3'>Review</a>
          </div>
        </div>
        <!-- Ends here -->
      </div>
    </div>
  </div>
</section>