<section>
  <div>
    <div class='card text-center col-11'>
      <div class='card-header'>
        <ul class='nav nav-tabs card-header-tabs'>
          <li class='nav-item'>
            <a
              class='nav-link active'
              aria-current='true'
              href='/users/movies'
            >My Movies</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/users/reviews'>My Reviews</a>
          </li>
        </ul>
      </div>
      <div class='card-body'>
        <h5 class='card-title'>All Added Movies Here!</h5>
        <p class='card-text'>
          With supporting text below as a natural lead-in to additional content.
        </p>
        <div class='d-flex'>
          {{#each movies}}
            <div class='card text-center m-3' style='width: 18rem'>
              <div class='card-body'>
                <h5 class='card-title'>{{title}}</h5>
                <img
                  src='{{poster}}'
                  class='img-fluid rounded-start'
                  alt='{{title}} Poster'
                />
                <a
                  href='/reviews/new?movieId={{id}}'
                  class='btn btn-primary mt-3'
                >Review</a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>