<section id='search-page' class='row'>
  <div class='m-5'>
    <form
      class='new-movie-search form-row d-flex justify-content-center align-items-center'
    >
      <div class='col-8'>
        <label class='sr-only' for='movie-search'></label>
        <input
          class='form-control mb-2 mr-sm-2'
          type='text'
          id='movie-search'
          name='movie-search'
          placeholder='Search a movie...'
        />
      </div>
      <div class='col-2 mx-5'>
        <button
          type='submit'
          id='submitBtn'
          class='btn btn-primary mb-2'
        >Search</button>
      </div>
    </form>
  </div>
  <div id='movie-container'>
  </div>

</section>

<script>
  {{#if logged_in}}
    let loggedIn = true;
  {{else}}
    let loggedIn = false;
  {{/if}}
</script>

<script src='/js/search.js'></script>