<section id='search-page' class='row justify-content-center d-flex'>
  <form class='form new-movie-search'>
    <div class='col-10 d-flex'>
      <div class='m-5 col-8'>
        <label for='movie-search' class='form-label'>Search for movie:</label>
        <input
          class='form-input'
          type='text'
          id='movie-search'
          name='movie-search'
        />
      </div>
      <button
        type='click'
        id='submitBtn'
        class='btn btn-primary col-2 m-5'
      >Search</button>
    </div>
  </form>

  <div id='movie-container'>
  </div>
</section>

<script src='/js/search.js'></script>
<script src='/js/addMovie.js'></script>